<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>laravel_agent</name>
  <description>build and testing</description>
  <remoteFS>/home/jenkins/agent</remoteFS>
  <numExecutors>8</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@3.1097.v868116049892">
    <host>jenkins-laravel-agent-I4C</host>
    <port>22</port>
    <credentialsId>jenkins_docker</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>laravel</label>
  <nodeProperties/>
</slave>